@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&family=Roboto+Mono&display=swap");

:root {
  --font-regular: "Roboto", sans-serif;
  --font-condensed: "Roboto Condensed", sans-serif;
  --font-mono: "Roboto Mono", monospace;
}

* {
  font-family: var(--font-regular);
}

.font-regular {
  font-family: var(--font-regular);
}

.font-condensed {
  font-family: var(--font-condensed);
}

.font-mono {
  font-family: var(--font-mono);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
